@font-face {
  font-family: myFirstFont;
  src: url(./fonts/BebasKai.ttf);
}

.navbar-inverse {
  background-color: rgba(0, 0, 0, 0.3);;
  border-color: transparent;
}
.navbar-inverse .navbar-nav>li>a {
  color:black;
}

.navbar-inverse .navbar-brand{
  color:black;
}

.col-md-12#bannerLogo{
  margin: 0;
  width: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: myFirstFont;
  position: relative; 
}

#section1 {
  padding-top:80px;
  height:100vh;
  color: #000; 
  background-color: #f0c713;
  position: relative;
}

#section2 {
  padding-top:50px;
  height:200px;
  color: #000; 
  background-color: #ffffff;
}

#section3 {
  padding-top:10px;
  height:100px;
  color: #fff; 
  background-color: #f0c713;
}

#section4 {
  padding-top:100px;
  height:110vh;
  color: #000; 
  background-color: #abc;
  position: relative;
}

.col-md-6#divRight{
  background-image: url('./images/phoneBanner.png');
  height:85vh;
  background-repeat: no-repeat;
  background-size: 45vh;
  background-position: center;
}

.col-md-6#divLeft{
  height: 85vh;
  box-sizing: border-box;
}

.col-md-6#divLeft > .center-element{
  max-width: none;
  width: 100%;
  margin-left: 20%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.col-md-6#divLeft > .center-element h1{
  margin-bottom: 30px;
  margin-top: 30px;
}

#contentBody{
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

#bannerText{
  font-size: 64px;
}

@media only screen and (max-device-width: 480px) {
  .col-md-6#divLeft{height: 5vh;}
  .col-md-6#divLeft h1{font-size: 15px;}
  #section1 { padding-top: 70px; min-height: 1000px; padding-top: 40%;} 
  .btn{margin-top: -5rem;}
  .col-md-8#info{text-align: center;}
  .col-md-6#divRight{background-size: 40vh; margin-top: 60%;}
  .col-md-6#divLeft > .center-element{margin-left: 0%}
  .col-md-12 p {margin-left: 10%; width: 100%;}
  #section4{min-height: 1800px;}
  .navbar-inverse { background-color: #343a40; border-color: black; }
  #store .row{ height: 100%; }
  #store .row .col-md-6{ height: 100px; }
  .navbar-inverse .navbar-brand{ color:white;}
  .navbar-inverse .navbar-nav>li>a { color:white; }
}

#download{
  width: 50%;
  margin: 0 auto;
}

.store-img{
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.fa {
  padding: 20px;
  font-size: 30px;
  width: 150px;
  height: 150px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
    text-decoration: none;
}

.fa-facebook {
  width: 70px;
  height: 70px;
}

.fa-twitter {
  width: 70px;
  height: 70px;
}

.fa-instagram {
  width: 70px;
  height: 70px;
}

.btn-outline-dark{
  color:#343a40;
  background-color:transparent;
  background-image:none;
  border-color:#343a40
}

.btn-outline-dark:hover{
  color:#fff;
  background-color:#343a40;
  border-color:#343a40
}

.btn-outline-dark.focus, .btn-outline-dark:focus{
  box-shadow:0 0 0 .2rem rgba(52,58,64,.5)
}

.btn-outline-dark.disabled,.btn-outline-dark:disabled{
  color:#343a40;
  background-color:transparent
}

.btn-outline-dark:not(:disabled):not(.disabled).active,
.btn-outline-dark:not(:disabled):not(.disabled):active,
.show>.btn-outline-dark.dropdown-toggle{
  color:#fff;
  background-color:#343a40;
  border-color:#343a40
}

.btn-outline-dark:not(:disabled):not(.disabled).active:focus,
.btn-outline-dark:not(:disabled):not(.disabled):active:focus,
.show>.btn-outline-dark.dropdown-toggle:focus{
  box-shadow:0 0 0 .2rem rgba(52,58,64,.5)
}

.btn{
  display:inline-block;
  font-weight:400;
  width: 200px;
  height: 50px;
  text-align:center;
  white-space:nowrap;
  vertical-align:middle;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  border: 2px solid ;
  padding:.375rem .75rem;
  font-size:2rem;
  line-height:1.5;
  border-radius:.25rem;
  transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

@media screen and (prefers-reduced-motion:reduce){
  .btn{transition:none}
}
.btn:focus,
.btn:hover{
  text-decoration:none
}

.btn.focus,.btn:focus{
  outline:0;box-shadow:0 0 0 .2rem rgba(0,123,255,.25)
}

.btn.disabled,.btn:disabled{
  opacity:.65
}
  
.btn:not(:disabled):not(.disabled){
  cursor:pointer
}
  
.btn:not(:disabled):not(.disabled).active,.btn:not(:disabled):not(.disabled):active{
  background-image:none
}
  
a.btn.disabled,fieldset:disabled a.btn{
  pointer-events:none
}

#store{
  width: 80%;
  min-height: 200%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%)
}

#content{
  position: relative;
  height: auto;
  min-height: 370px;
}

.row#content{
  height: 100%;
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.col-md-4{
  height: 100%;
}

.col-md-4#info{
  min-height: 230px;
}

.col-md-4 > img{
  height: 100%;
}

.col-md-12{
  width: 100%;
  height: 100%;
}

.col-md-8#info{
  position: relative;
  height: 350px;
}

.centerX{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}


.node{
  text-align: center;
  width: 70%;
  display: table;
  padding: 10px 10px;
  margin: 0 auto;
}

.node-content{
  font-size: 12px;

}

.node-title{
  font-weight: bold;
  font-size: 20px;
  width: 70%;
  margin: 0 auto;
  margin-top:3%;
}